{% extends 'base.html.twig' %}

{% block title %}On joue !{% endblock %}

{% block body %}
<section class="main games">

    <div class="tentative">
       <span class="btn">tentative {{numbreAttempts}} </span> 
    </div>

    <div class="container">

     
        
        {{ form_start(form) }}
        
        {% for input in form %}

        {{ form_errors(input) }}
        
       <span>{{ form_widget(input) }}</span> 
        {% endfor %}

        <button class="btn">Jouez</button>
        {{ form_end(form) }}
       

    </div>
 

    </div>
</section>
{% endblock %}